body {
	background-color: #FAECA5;
	color: #5E5F5A;
	font-family: 'Oswald', sans-serif;
}
h1 {font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 70px;
	font-style: bold;
}
nav {
	text-align: center;
}
a {
	font-family: 'Oswald', sans-serif;
	justify-content: space-between;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	color: #5E5F5A;
}
h2,h3 { font-family: 'Lora', serif;
	font-style: italic;
	text-align: center;
	font-size: 33px;
	font-weight: 400;
	text-decoration: underline;
}

li {font-family: 'Lora', serif;
	font-style: italic;
	text-align: center;
	font-size: 27px;
	font-weight: 280;
}
.center {
	text-align: center;
	list-style-position: inside;
}

li:hover {
	color: #8E2627
	transform: .3s;
}
img {
	height: 20%,
	width: 30%;
	padding: 55px;
	margin-left: 170px;
}
h1:hover {
  color: #8E2627;
  transform: .3s
}
h2:hover {
  color: #8E2627;
  transform: .3s
}

a:hover{
  color: #8E2627;
  transform: .3s
}
