<!DOCTYPE html>
<html>
<head>
	<title>FETTUCINI ALFREDO</title>
	<link rel="stylesheet" type="text/css" href="../stylesheet/alfredo.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/alfredo.js" ></script>
</head>
<body>
	<h1>ALFREDO FOR THE SOUL</h1>
	<nav>
		<a href="../index.html">HOME&nbsp;&nbsp;&nbsp;&nbsp;</a>
		<a href="../templates/vodka.html">PENNE VODKA&nbsp;&nbsp;&nbsp;&nbsp;</a>
		<a href="../templates/pesto.html">PESTO PASTA&nbsp;&nbsp;&nbsp;&nbsp;</a>
		<a href="../templates/pompodoro.html">SPAGHETTI POMPODORO&nbsp;&nbsp;&nbsp;&nbsp;</a>
	</nav>
	<h2>HOMEMADE ALFREDO RECIPE:</h2>
	<ol class="center">
		<li>HALF CUP OF BUTTER</li>
		<LI>TWO CUPS HEAVY WHIPPING CREAM</LI>
		<LI>FOUR OUNCES OF CREAM CHEESE</LI>
		<LI>HALF TEASPOON MINCED GARLIC</LI>
		<LI>ONE TEASPOON GARLIC POWDER</LI>
		<LI>ONE TEASPOON ITALIAN SEASONING</LI>
		<LI>QUARTER TEASPOON SALT</LI>
		<LI>QUARTER TEASPOON PEPPER</LI>
		<LI>1000 CUP GRATED PARMESEAN CHEESE</LI>
	</ol>
	<img src="../images/alfredo1.jpg">
	<h3>ONCE THAT'S DONE...</h3>
	<ol class="center">
		<li>BRING LARGE PART SALTED WATER TO A BOIL</li>
		<LI>ADD FETTUCINI PASTA AND LET COOK FOR EIGHT TO TEN MINUTES</LI>
		<LI>STRAIN PASTA</LI>
		<LI>ADD TO CREAMY ALFREDO SAUCE IN A PAN</LI>
		<LI>STIR AND ADD MORE PARMASEAN</LI>
		<LI>SERVE IMMEDIATELY AND ENJOY!</LI>



	


	
</body>
</html>