<!DOCTYPE html>
<html>
<head>
	<title>FETTUCINI ALFREDO</title>
	<link rel="stylesheet" type="text/css" href="stylesheet/alfredo.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/alfredo.js" ></script>
	make sure this is right
</head>
<body>
	<nav>
		<a href="../index.html">HOME</a>
		<a href="../templates/vodka.html">PENNE VODKA</a>
		<a href="../templates/pesto.html">PESTO</a>
		<a href="../templates/vodka.html">PENNE VODKA</a>
	</nav>


	
</body>
</html>