<!DOCTYPE html>
<html>
<head>
	<title>PESTO</title>
	<link rel="stylesheet" type="text/css" href="../stylesheet/pesto.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/pesto.js" ></script>
</head>
<body>
	<h1>PESTO IS THE BESTO</h1>
	<nav>
		<a href="../index.html">HOME&nbsp;&nbsp;&nbsp;&nbsp;</a>
		<a href="../templates/vodka.html">PENNE VODKA&nbsp;&nbsp;&nbsp;&nbsp;</a>
		<a href="../templates/vodka.html">FETTUCINI ALFREDO&nbsp;&nbsp;&nbsp;&nbsp;</a>
		<a href="../templates/vodka.html">SPAGHETTI POMPODORO&nbsp;&nbsp;&nbsp;&nbsp;</a>
	</nav>

	<h2>PASTA WITH PESTO</h2>
	<h3>IN A FEW DIFFERENT WAYS</h3>

	<button id="pulse">Make EM DANCE BABY!</button>


	<div class="food">
		<img src="../images/pesto5.jpg" alt="gnocchi with pesto">
		<img src="../images/pesto6.jpeg" alt="spaghetti with pesto">
	</div>


	<div class="food">
		<img src="../images/pesto3.jpeg" alt="penne with pesto">
		<img src="../images/pesto4.jpg" alt="ravioli with pesto">
		
	</div>


	

	
</body>
</html>