<!DOCTYPE html>
<html>
<head>
	<title>PENNE VODKA</title>
	<link rel="stylesheet" type="text/css" href="../stylesheet/vodka.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/vodka.js" ></script>
</head>
<body>

	<h1> PENNE VODKA IS BAE</h1>
	<nav>
		<a href="../index.html">HOME&nbsp;&nbsp;&nbsp;&nbsp;</a>
		<a href="../templates/pesto.html">PENNE PESTO&nbsp;&nbsp;&nbsp;&nbsp;</a>
		<a href="../templates/alfredo.html">FETTUCINI ALFREDO&nbsp;&nbsp;&nbsp;&nbsp;</a>
		<a href="../templates/pompodoro.html">SPAGHETTI POMPODORO&nbsp;&nbsp;&nbsp;&nbsp;</a>
	</nav>
<br>
<div class="slideshow-container">
		<div class="mySlides fade">
			<img src="../images/carbone1.jpg" class="img1">
		</div>
		<div class="mySlides fade">
			<img src="../images/pennevodka1.jpg" class="img2">
		</div>
		<div class="mySlides fade">
			<img src="../images/cipollini1.jpg" class="img3">
		</div>
		<div class="mySlides fade">
			<img src="../images/serafina2.jpg" class="img4">
		</div>
	</div>

	<a class="prev">&#10094;</a>
	<a class="next">&#10095;</a>

	<div class="dots">
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
	</div>



</body>
</html>